.App {
  text-align: center;
  background-color: #2c2b2b6e;
  width: 40vw;
}

.bg {
  background-image: url(images/hon_background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  justify-content: center;
  display: flex;
}
